/* Esto va a centrar todos los elementos del body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* Esto aplicará estilos a la sección del formulario */
#loginform {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: white;
}

/* Esto centrará el texto en los elementos de tu formulario */
#loginform .titleform, 
#loginform label {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

/* Esto estilizará los campos de entrada y el botón */
#loginform input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#loginform .btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
